.input{
    background-color: #d9d9d9;
    border-radius: 0;
    color: black;
    border: none;
    position: relative;

    &:disabled{
        cursor: default;
        background-color: #d9d9d9;
        opacity: 1;
        color: black;
    }

    &::placeholder{
        color: black;
    }

    &[data-error="true"]{
        border: 2px solid crimson;
    }
}

.badge{
    border-radius: 0;
    background-color: #bbb;
    color: black;
    font-weight: 400;
    text-transform: none;
}

.button{
    max-width: 380px;

    &[data-variant='gray']{
        background-color: #bbb;
        color: black;
        font-weight: 400;
    }
    &[data-variant='input']{
        min-width: 100%;
        background-color: #d9d9d9;
        color: black;
        font-weight: 400;
        display: flex;
        padding-left: 20px;
    }

}

.textarea{
    font-size: 17px;
}

.dateInput{
    height: 60px;
    padding: 0 20px;
    color: black;
    font-size: 20px;

    *{
        color: black;
    }
}

.timeInput{

    &>div>input{
        background-color: white;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
    }
}

.dateTimeInputWrapper{

    &>div[data-position="right"]{
        width: 58px;
    }
}

.dateTimeError{
    color: crimson;
}

.inputLabel{
    font-size: 17px;
}
