.imageInput{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;

  &-input{
    appearance: none;
    display: none;
  }

  &-visiblePart{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    cursor: pointer;
    opacity: 0.25;
    transition: opacity 0.1s ease-in;
    border: 2px dashed gray;
    border-radius: 6px;


    &:hover{
      opacity: 0.6;
    }
  }
}
