@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html,body{
    margin: 0;
    padding: 0;
}

#root{
    background-color: #F2F3F8;
}

ol,ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,a{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    transition: background-size .2s ease-in-out;

    &:hover{
        background-size: 100% 1px;
    }

    &.active{
        color: #0C92F3;
    }
}

.input-with-right{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding-right: 8px;
    width: 240px;
}

.input-right-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
        background-color: #F2F3F8;
    }
}
